body {
  background-color: blanchedalmond;
}
.container {
  max-width: 900px;
  text-align: center;
}
h1 {
  color: blueviolet;
  font-weight: 700;
  font-style: italic;
}
.photo {
  max-width: 600px;
  height: auto;
}
